@import '../../../styles.scss';

.contact {
    position: relative;
    background-color: $background-gray;
    width: 100%;
    padding: 32px;
}

.title{
    font-family: "Roboto";
    font-size: 40px;
    margin: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    background-image: linear-gradient(to right, $primary-third, $primary-third); /* Agrega un degradado de colores al borde inferior */
    background-size: 30% 3px; /* Define el tamaño del degradado */
    background-position-x: 0%;
    background-position-y: bottom; /* Define la posición del degradado */
    background-repeat: no-repeat;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50%;
}

.subtitle{
    width: 80%;
    float: right;
    font-family: "Roboto";
    font-size: 32px;
}

.communication{
    position: relative;
    background-color: #777777;
    border-radius: 0 64px 0 64px;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangle{
    height: 400px;
    width: 80%;
    border-radius: 64px;
    display: flex;
    margin: 24px;
    margin-bottom: 32px;
    background-color: #D4D4D4;
}

