<div class="contact">
    <div class="row title"> 
        ¿Deséas contactarnos?
    </div>
    <div class="row"> 
        <div class="col-6 container">
            <div class="communication">
                <div class="row subtitle">
                    MEDIOS DIGITALES
                </div>
                <div class="rectangle">
                    <div class="row email-contact">
    
                    </div>
                    <div class="row ig-contact">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 container">
            <div class="row subtitle message">
                ESCRÍBENOS AQUÍ
            </div>
            <div class="row email-case">
                
            </div>
            <div class="row message-case">

            </div>
        </div>
    </div>
</div>
