<div class="who">
    <div class="row title"> 
        ¿Quiénes somos?
    </div>
    <div class="row phrase"> 
        <!-- Los textos de estas areas tendran que ser puestos en json para estandarizar idiomas -->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est.</p>
        <p>Vestibulum sit amet sapien auctor, faucibus purus a, hendrerit mauris. Nulla sit amet consectetur purus. Donec bibendum elit a nulla luctus, eget euismod nunc commodo. Integer eget tellus id ligula suscipit bibendum vel in risus.</p>
    </div>
</div>