<div class="landing">
    <img src="../assets/images/intro-bg.jpg" class="home-img" alt="Error displaying the image">
    <div class="slogan"> 
        <div class="title"> <div class="brown-gradient">cambiando</div>  el mundo</div>
        <div class="title">una solución <div class="green-gradient">a la vez</div></div>    
        <div class="phrase"> 
            <p class="paragraph">ipsum dolor sit amet, consectetur adipiscing elit. </p> 
            <p class="paragraph">Etiam ipsum odio, sollicitudin vel leo ac, fermentum aliquam odio.</p>
            <p class="paragraph">Etiam a lorem tempus, tincidunt erat.</p> 
        </div>
    </div>
</div>